@model network.Views.ViewModels.ALbumsViewModel



    

@*<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>*@

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="@Url.Action("Create","ImgAlbum",FormMethod.Get,null)">Add new album<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-plus"></span></a></li>
                
             </ul>
        </div>
    </div>
</nav>




<div class="jumbotron container-fluid">
    @*<div class="row">*@

    <div class="row page" align="center">
        Albums
    </div>


    @if (Model.Albums.Count > 0)
    {
        <div class="scrolAlb">
            <div class="row" style="display: inline-flex">
                @foreach (var item in Model.Albums)
                {
                    if (item.TitleImage != null)
                    {
                        <a href="@Url.Action("OpenAlbum", "ImgAlbum", new {id = item.AlbumId}, null)">
                                    <div class="nameAlb">
                                    <img class="img-circle gallery-img "
                                         src="data:image/png;base64, @Convert.ToBase64String(item.TitleImage.Data)"/>
                                </div>
                                </a>

                     
                    }

                    @*<a href="@Url.Action("OpenAlbum","ImgAlbum",new {id=item.AlbumId},null)">
                            <img class="emptyAlb">
                        </a>*@

                }

            </div>
        </div>
        }
       
    </div>

    <div class="row">
        <div class="col-xs-12"><hr/>
        </div>
            
            

            
        <div class="row page" align="center">
            Photos
        </div>
        @if (Model.Images.AllImages.Capacity > 0)
        {

            <div class="scrolAlb ">
                <div class="row" style="display:inline-flex">
                    @foreach (var img in Model.Images.AllImages)
                    {
                        <div class="col-md-9 galleryImg">

                            <img id="user_img" class="img-circle image gallery-img"
                                 src="data:image/png;base64, @Convert.ToBase64String(img.Data)"/>

                        </div>
                    }
                </div>
            </div>
        }

        <div class="col-xs-12">
            <hr/>
        </div>
    </div>
    
    @*</div>*@

