@model network.Views.ViewModels.OpenAlbumViewModel


<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>




<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "ImgAlbum")"><span style="font-size: 16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-arrow-left"></span></a></li>
                <li id="Mod"><a href=#>Delete album<span style="font-size: 16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-trash"></span></a></li>
                <li id="opMod"><a href=#>Edit album<span style="font-size: 16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-pencil"></span></a></li>
                <li id="openModal"><a href=#>Add photo<span style="font-size: 16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-plus"></span></a></li>
                
                
                @*<li id="exampleMod"><a href=#>Open modal<span style="font-size: 16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-apple"></span></a></li>*@

            </ul>
        </div>
    </div>
</nav>



<div class="jumbotron container-fluid">
    <div class="page" align="center">
        @Html.DisplayFor(model => model.NameAlb)
    </div>


    <hr />

    <div class="content-holder">
        <div class="container">
            <div class="row gallery-photos">
                @if (Model.Photos.Count > 0)
                {
                    foreach (var image in Model.Photos)
                    {
                        @*@Html.HiddenFor(m=>m.Id)*@
                        <div class="col-lg-2 col-sm-3 col-xs-6 gallery">
                            <a href="#" data-id="@image.Id">
                                <img class="thumbnail img-responsive" src="data:image/png;base64, @Convert.ToBase64String(image.Data)">
                            </a>
                        </div>
                    }
                }

            </div>
        </div>

    </div>

</div>


  @*modal for carousel*@

<div class="modal" id="myModal" role="dialog" data-focus-on="input:first" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Photo</h3>
            </div>
            
            <div class="modal-body">
                <div id="modalCarousel" class="carousel">
                    <div class="carousel-inner"></div>
                    <a class="carousel-control left" href="#modalCarousel" data-slide="prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                    </a>
                    
                    <a class="carousel-control right" href="#modalCarousel" data-slide="next">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>

                </div>
            </div>
            
            <div class="modal-footer">
                <a data-toggle="modal" href="#delPhModal">Delete</a>
                <a href="#" data-dismiss="modal" class="btn">Close</a>
            </div>
            
            


        </div>
    </div>
</div>


@*modal for deletePhoto*@
<div id="delPhModal" class="modal fade" tabindex="-1" data-backdrop="static" data-focus-on="input:first" style="display: none;">
   
    <div class="modal-dialog">
        @*<div class="col-md-4 col-md-offset-4">*@
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Delete</h4>
            </div>
            @using (Html.BeginForm("DeletePhoto", "ImgAlbum"))
            {
                <div class="modal-body">
                   
                    <div class="row">

                        Are you sure you want to delete this photo?

                    </div>
                   
                   
                </div>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                    <button class="btn btn-primary">Ok</button>
                </div>
            }
        </div>
        @*</div>*@
    </div>
</div>







<div id="addModal" class="modal fade" data-url='@Url.Action("AddPhoto", "ImgAlbum",new {id=Model.Id},null)'>
    <div id="addContainer">
    </div>
</div>

<div id="editModal" class="modal fade" data-url='@Url.Action("Edit","ImgAlbum",new {id=Model.Id},null)'>
    <div id="editContainer">
    </div>
</div>

<div id="delModal" class="modal fade" data-url='@Url.Action("Delete","ImgAlbum",new {id=Model.Id},null)'>
    <div id="delContainer">
    </div>
</div>







@section Scripts{
            <script type="text/javascript">
                $(function () {
                    $('#openModal').click(function () {
                        var url = $('#addModal').data('url');

                        $.get(url,
                            function (data) {
                                $('#addContainer').html(data);

                                $('#addModal').modal('show');
                            });
                    });


                    $('#opMod').click(function () {
                        var url = $('#editModal').data('url');

                        $.get(url,
                            function (data) {
                                $('#editContainer').html(data);

                                $('#editModal').modal('show');
                            });
                    });


                    $('#Mod').click(function () {
                        var url = $('#delModal').data('url');

                        $.get(url,
                            function (data) {
                                $('#delContainer').html(data);

                                $('#delModal').modal('show');
                            });

                    });




                    //carousel
                    $('.content-holder .thumbnail').each(function (i) {
                        var item = $('<div class="item"></div>');
                        var itemDiv = $(this).parents('div');
                        var title = $(this).parent('a').attr("title");

                        item.attr("title", title);
                        $(itemDiv.html()).appendTo(item);
                        item.appendTo('.carousel-inner');
                        if (i === 0) { // set first item active
                            item.addClass('active');
                        }
                    });

                    /* activate the carousel */
                    $('#modalCarousel').carousel({ interval: false });

                    /* change modal title when slide changes */
                    $('#modalCarousel').on('slid.bs.carousel', function () {
                        $('.modal-title').html($(this).find('.active').attr("title"));
                    });

                    var imageId;
                    /* when clicking a thumbnail */
                    $('.gallery-photos a').click(function () {
                        imageId = $(this).data('id');

                        var idx = $(this).parents('div').index();
                        var id = parseInt(idx);
                        $('#myModal').modal('show'); // show the modal
                        $('#modalCarousel').carousel(id); // slide carousel to selected
                    });
 
                  
                    //for modal in modal
                    $('#exampleMod').click(function () {
                        //$('data-id').val($(this).data('id'));
                        $('#myModal').modal({ show: true });
                    });

                });
            </script>
        }


