
<div class="col-md-7">
    <div class="navbar-collapse collapse">
        <ul class="nav nav-pills nav-stacked">
            <li>@Html.ActionLink("My page", "Index", "Users")</li>
            
            
                <li>
                    @*@Html.ActionLink("My friends", "Index", "Friendship")
                    <span>@{ Html.RenderAction("CountRequests", "Friendship"); }</span>*@
                    
                    
                    <div class="row">
                        <div class="col-md-8">
                            @Html.ActionLink("My friends", "Index", "Friendship")
                        </div>
                        <div class="col-md-4">
                            @{ Html.RenderAction("CountRequests", "Friendship"); }
                        </div>
                    </div>
                </li>
    
            <li>@Html.ActionLink("My music", "ShowUsers", "Users")</li>
            <li>@Html.ActionLink("My photos", "ShowUsers", "Users")</li>
            <li>@Html.ActionLink("My message", "ShowUsers", "Users")</li>
            <li>@Html.ActionLink("My settings", "ShowUsers", "Users")</li>
            <li>@Html.ActionLink("Others users", "BrowseUsers", "Users")</li>

        </ul>
    </div>
</div>








@*<div id="friendsrequest">
    @Ajax.ActionLink("Friends","Details","Users",
            new AjaxOptions {UpdateTargetId = "friendsrequest" })
            </div>*@
