@model network.Views.ViewModels.SelectReceiver
    

<div id="selectReceiverDialog">
    <div class="modal-dialog">
        <div class="modal-content">
             
            <div class="modal-header navbar-inverse">
                <button type="button" class="close"  data-dismiss="modal">&times;</button>
                <h4 class="modal-title header">Select friend</h4>
            </div>
            
            <div class="modal-body">
                
                <table class="table">
                        @if (Model.FriendsList != null)
                        {
                            <div class="scrolSelRec style="display: inline-flex">
                                <hr />
                                @foreach (var friend in Model.FriendsList)
                                {
                                    <a href="#" >
                                        <div class="beginChat" data-id="@friend.Id">
                                            <div class="row  .content_for_friends ">

                                                <div class="text">
                                                    <img class="select_friend_img" src="@friend.Image" >
                                                    @Html.DisplayFor(modelItem => friend.LastName)
                                                    @Html.DisplayFor(modelItem => friend.FirstName)
                                                </div>

                                                @*@Html.HiddenFor(modelItem => friend.Id)
                                                @Html.HiddenFor(modelItem => friend.Image)*@
                                            </div>
                                        </div>
                                </a>

                                    <hr />
                                }
                            </div>
                        }
                </table>
            </div>

            </div>
        </div>
</div>

@*@section Scripts{
    <script type="text/javascript">
        $(function() {
            $.ajax({
                url: '@Url.Action("SelectReceiver", "Messages")',
                type: 'POST',
                data: $('#friendsList').serialize(),
                //data: {
                //    'imageId': imageId
                //},
                //dataType: "json",
                success: function(response) {
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert("!!!!!!");
                }
            });
        })

    </script>
}*@