@model List<network.Views.ViewModels.ConversationViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>


<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>


        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="selectRec"><a href=#>Search <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-search"></span></a></li>

            </ul>
        </div>


    </div>
</nav>


<div class="jumbotron container-fluid">

    <div class="row page" align="center">
        Conversation
    </div>

    @if (Model.Capacity > 0)
    {
        foreach (var item in Model)
        {
            <tr>
    <td>
        <div class="row chatId">
            <a href="#">
                <div class="col-md-offset-5">
                    <img id="user_img"
                         style="border: solid" src="data:image/png;base64, @Convert.ToBase64String(item.Image)"
                         class="img-circle">

                    @Html.DisplayFor(modelItem => item.Name)
                    @Html.DisplayFor(modelItem => item.FirstName)

                </div>
            </a>
        </div>
                </td>
            </tr>
        }
    }

    </div>




    <div id="selectMod" class="modal fade" data-url='@Url.Action("SelectReceiver","Messages",null)'>
        <div id="selectContainer">
        </div>
    </div>



    @section Scripts{
        <script type="text/javascript">
            $(function() {
                $('#selectRec').click(function() {
                    var url = $('#selectMod').data('url');


                    $.get(url,
                        function(data) {
                            $('#selectContainer').html(data);

                            $('#selectMod').modal('show');

                            $('.beginChat').click(function() {
                                var receiverId = $(this).data('id');

                                $.ajax({
                                    url: '@Url.Action("SelectReceiver", "Messages")',
                                    type: 'POST',
                                    data: {
                                        'receiverId': receiverId
                                    },

                                    dataType: "json",
                                    success: function(response) {
                                        $('#selectMod').modal('hide');
                                        debugger;

                                    },
                                    error: function(xhr, ajaxOptions, thrownError) {
                                        debugger;
                                        $('#selectMod').modal('hide');
                                    }
                                });
                            });
                        });
                });

                //$(".chatId").mouseover(function () { $(this).addClass(".activeChat"); });
                //debugger;
                //$(".chatId").mouseout(function () { $(this).removeClass(".activeChat"); });

                $(".chatId").bind({
                    'mouseover': function () { $(this).css("background-color", "#cccccc"); },
                    'mouseout': function () { $(this).css("background-color", "transparent"); },
                });

            });
        </script>
    }