@model network.Views.ViewModels.FriendShow

@{
    ViewBag.Title = "FriendsPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("UsersPage", "Users"))
{
   

    <div>
        <dd>
            <div class="col-md-3">

                <img id="user_img" style="border: solid" src="data:image/png;base64, @Convert.ToBase64String(Model.Image)">
                
                <input type="button" id="openModal" value="Delete friend" />
            </div>
        </dd>


        <dd>
            <div class="page">
                @Html.DisplayFor(model => model.Name)
                @Html.DisplayFor(model => model.Firstname)
            </div>
            
        </dd>
        
       



        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirthday)
            @Html.DisplayFor(model => model.DateOfBirthday)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.FamStat.Name)
            @Html.DisplayFor(model => model.FamStat.Name)
        </dt>

        ______________________________________________________

        <dt>

            @Html.DisplayNameFor(model => model.CurrentLocation.Country)
            @Html.DisplayFor(model => model.CurrentLocation.Country)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentLocation.State)
            @Html.DisplayFor(model => model.CurrentLocation.State)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentLocation.City)
            @Html.DisplayFor(model => model.CurrentLocation.City)
        </dt>
        <hr />
    </div>
}

<div id="deletFr" class="modal fade" data-url='@Url.Action("Delete", "Friendship",new {id=Model.Id})'>
    <div id="deletFrContainer">
        
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(function() {
            $('#openModal').click(function() {
                var url = $('#deletFr').data('url');

                $.get(url,
                    function(data) {
                        $('#deletFrContainer').html(data);

                        $('#deletFr').modal('show');
                    });
            });
        });
    </script>
}



