@model network.Views.ViewModels.PageViewModel

@using (Html.BeginForm("Index","Users"))
{
    <div>
        <dd>
            <div class="col-md-3">

                <img id="user_img" style="border: solid" src="data:image/png;base64, @Convert.ToBase64String(Model.Image)">
                
                <input type="button" id="openModal" value="Change photo" />
            </div>
        </dd>


        <dd class="page">
            @Html.DisplayFor(model => model.Name)
            @Html.DisplayFor(model => model.Firstname)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirthday)
            @Html.DisplayFor(model => model.DateOfBirthday)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.FamStat.Name)
            @Html.DisplayFor(model => model.FamStat.Name)
        </dt>

        ______________________________________________________

        <dt>

            @Html.DisplayNameFor(model => model.CurrentLocation.Country)
            @Html.DisplayFor(model => model.CurrentLocation.Country)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentLocation.State)
            @Html.DisplayFor(model => model.CurrentLocation.State)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentLocation.City)
            @Html.DisplayFor(model => model.CurrentLocation.City)
        </dt>
        <hr />
        <dd>

        </dd>

    </div>
}





<div id="changeModal" class="modal fade" data-url='@Url.Action("ChangePhoto", "Users")'>
    <div id="changeContainer">
    </div>
</div>




@section Scripts{
    <script type="text/javascript">
        $(function() {
            $('#openModal').click(function() {
                var url = $('#changeModal').data('url');
                
                $.get(url,
                    function(data) {
                        $('#changeContainer').html(data);

                        $('#changeModal').modal('show');
                    });
            });
        //});

        //alert("completed");
        //$.noConflict();
        //jQuery(document).ready(function ($) {

            var bar = $('#Change .progress-bar');
            var percent = $('#Change .percent');
            var status = $('#Change #status');

            $('#Change').ajaxForm({
                beforeSend: function () {
                    status.empty();
                    var percentVal = '0%';
                    bar.width(percentVal);
                    percent.html(percentVal);
                    alert(percentVal);
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal);
                    percent.html(percentVal);
                    alert(percentVal);
                },
                complete: function (xhr) {
                    alert("completed");
                    status.html(xhr.responseText);
                }
            });
        });
    </script>
}