@model network.Views.ViewModels.PageViewModel

@using (Html.BeginForm("Page","Users"))
{
    <div>
        <dd>
            <div class="col-md-3">

                <img id="user_img" style="border: solid" src="data:image/png;base64, @Convert.ToBase64String(Model.Image)">
                
                <input type="button" id="openModal" value="Change photo" />
            </div>
        </dd>


        <dd class="page">
            @Html.DisplayFor(model => model.Name)
            @Html.DisplayFor(model => model.Firstname)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirthday)
            @Html.DisplayFor(model => model.DateOfBirthday)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.FamStat.Name)
            @Html.DisplayFor(model => model.FamStat.Name)
        </dt>

        ______________________________________________________

        <dt>

            @Html.DisplayNameFor(model => model.CurrentLocation.Country)
            @Html.DisplayFor(model => model.CurrentLocation.Country)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentLocation.State)
            @Html.DisplayFor(model => model.CurrentLocation.State)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentLocation.City)
            @Html.DisplayFor(model => model.CurrentLocation.City)
        </dt>
        <hr />
        <dd>

        </dd>

    </div>
}





<div id="changeModal" class="modal fade" data-url='@Url.Action("ChangePhoto", "Users")'>
    <div id="changeContainer">
    </div>
</div>




@section Scripts{
    <script type="text/javascript">
        $(function() {
            $('#openModal').click(function() {
                var url = $('#changeModal').data('url');
                
                $.get(url,
                    function(data) {
                        $('#changeContainer').html(data);

                        $('#changeModal').modal('show');
                    });
            });
        });
    </script>
}