@model BLL.FriendShow

@using (Html.BeginForm("UsersPage", "Users"))
{
    <div class="col-lg-6">
        @if (Model.Image != null)
        {
            <img class="image" src="data:image/png;base64, @Convert.ToBase64String(Model.Image)" />
        }
        else
        {
            <img class="image" style="border:solid;" src="@Url.Content("~/Content/Pictures/no.jpg")" />
        }
    </div>
    <div class="row">
        <div class="page">
            @Html.DisplayFor(model => model.Name)
            @Html.DisplayFor(model => model.Firstname)
        </div>
        <br />
            @Html.DisplayNameFor(model => model.DateOfBirthday)
            @Html.DisplayFor(model => model.DateOfBirthday)
        <br />
            @Html.DisplayNameFor(model => model.CurrentLocation.Country)
            @Html.DisplayFor(model => model.CurrentLocation.Country)
    </div>
}


